.txt {
  letter-spacing: .12em;

  @include min-screen($breakP) {
    font-size: 16px;

    @include lhCrop(32 / 16);
  }

  @include max-screen($breakP) {
    font-size: 13px;

    @include lhCrop(52 / 26);
  }

  &--small {
    letter-spacing: 0.06em;

    @include min-screen($breakP) {
      font-size: 12px;
    }

    @include max-screen($breakP) {
      font-size: 11px;
    }
  }
}
