.utilitySink {
  background: rgba(#248068, 0.1);
  box-shadow: 0 0 0 100vmax rgba(#248068, 0.1);
  clip-path: inset(0 -100vmax);
  padding: 80px 0;
  margin-top: 80px;

  // @include pc {

  // }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    @include pc {
      width: 480px;
    }

    @include sp {
      width: 100%;
    }

    &:not(:last-of-type) {
      @include sp {
        margin-bottom: 50px;
      }
    }

    .txt {

      & + .photo {
        margin-top: 22px;
      }
    }

    &--center {
      @extend .counterKitchen__item;
      height: 100%;
      margin: auto 0;
    }
  }

  &__head {
    @include pc {
      width: 304px;
    }

    @include sp {
      display: none;
    }
  }

  &__spVisual {
    @include pc {
      display: none;
    }

    @include sp {
      margin-top: 35px;
    }
  }

  &__heading {
    letter-spacing: .15em;

    @include pc {
      font-size: 22px;
      line-height: 1;
      margin-bottom: 24px;
    }

    @include sp {
      font-size: 20px;
      letter-spacing: .05em;
      line-height: 1.5;
      margin-bottom: 18px;
      text-align: center;
    }
  }

  &__cont {

    .equipmentCardGroup {
      justify-content: space-between;

      @include pc {
        margin-top: 40px;
      }

      @include sp {
        margin-top: 30px;
      }
    }

    .equipmentCard {
      @include pc {
        width: 30.2%;
      }

      @include sp {
        width: 160px;
      }

      &:nth-of-type(3n) {
        @include pc {
          margin-right: 0;
        }
      }

      &:nth-of-type(n + 3) {
        @include sp {
          margin-top: 30px;
        }
      }

    }
  }

  .counterKitchen + & {
    margin-top: 60px;
  }

  & + .equipmentCardGroup {
    @include pc {
      margin-top: 120px;
    }

    @include sp {
      margin-top: 90px;
    }
  }
}
