.moreBtn {
  align-items: center;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .1);
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  transition: .3s;
  width: 100%;
  will-change: auto;

  @include pc {
    height: 48px;
  }

  @include sp {
    height: 32px;
  }

  @include hover {
    opacity: .8;

    .arrowSVG {
      transform: translate(30%,-50%);

      path {
        fill: #ffffff;
      }
    }
  }

  &__txt {
    color: #ffffff;
    font-family: $font-en;
    line-height: .8;

    @include pc {
      font-size: 16px;
    }

    @include sp {
      font-size: 11px;
    }
  }

  .arrowSVG {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    transition: .3s;
    will-change: auto;

    @include pc {
      right: 20px;

    }

    @include sp {
      height: auto;
      right: 10px;
      width: 10px;
    }

    path {
      fill: #ffffff;
    }
  }

  &--comingsoon {
    pointer-events: none;

    .arrowSVG {
      display: none;
    }
  }
}
