.roomInfo {
  align-items: center;
  color: #464646;
  display: flex;
  justify-content: center;

  @include sp {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
  }

  &__term,
  &__desc {
    font-family: $font-en;
    letter-spacing: .06em;
    line-height: .8;

    @include pc {
      font-size: 34px;
    }

    @include sp {
      font-size: 24px;
    }

    .num {
      color: $color-autumn-sub-01;
    }

    .large {
      color: $color-autumn-sub-01;
      vertical-align: top;

      @include pc {
        font-size: 42px;
        line-height: .65;
      }

      @include sp {
        font-size: 30px;
        line-height: .75;
      }
    }

    .small {
      color: $color-autumn-sub-01;

      @include pc {
        font-size: 28px;
      }

      @include sp {
        font-size: 22px;
        line-height: .6;
      }
    }

    .meter {
      font-family: $font-jp;

      @include pc {
        font-size: 28px;
      }

      @include sp {
        font-size: 22px;
      }
    }

    sup {
      @include pc {
        font-size: 10px;
      }

      @include sp {
        font-size: 8px;
      }
    }
  }

  &__term {
    text-align: center;

    .large {
      color: #464646;
    }
  }

  &__line {
    background-color: #595959;
    height: 1px;
    margin: 0 10px;

    @include pc {
      width: 24px;
    }

    @include sp {
      flex-grow: 1;
      max-width: 14px;
    }
  }

  &__desc {
    @include sp {
      text-align: right;
    }
  }

  &--ldk {
    @include pc {
      font-size: 34px;
    }

    @include sp {
      font-size: 24px;
    }

    .large {
      @include pc {
        line-height: .55;
      }

      @include sp {
        line-height: .55;
      }
    }
  }

  &--length {
    @include pc {
      font-size: 28px;
    }

    @include sp {
      font-size: 24px;
    }
  }

  & + .roomInfo {
    @include pc {
      margin-top: 20px;
    }

    @include sp {
      margin-top: 15px;
    }
  }

  & + .option {
    max-width: 300px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    text-align: right;

    @include sp {
      max-width: 230px;
    }
  }

  & + .moreBtn {
    @include pc {
      margin-top: 40px;
    }

    @include sp {
      margin-top: 30px;
    }
  }
}
