<div class="contentsGuide">
  <div class="contentsGuide__head" data-sai="fade" data-sai-duration="1500">
    <h3 class="contentsGuide__heading">CONTENTS LIST</h3>
  </div>
  <div class="contentsGuide__cont" data-sai="fade" data-sai-duration="1500">
    <%- include('/common/inc/contentsNav/_contentsNav.ejs', {parent: 'contentsGuide'}) %>
    <%- include('/common/inc/primaryNav/_primaryNav.ejs') %>
  </div>
</div>
