.accrDoor {
  position: relative;

  &__inner {
    align-items: center;
    color: #ffffff;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @include sp {
      flex-direction: column;
    }
  }

  &__ttl {
    font-family: $font-en;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: .14em;

    @include pc {
      position: absolute;
      top: 50%;
      transform: translate(0,-50%);
      font-size: 32px;
      left: 24px;
      line-height: calc(43/32);
    }

    @include sp {
      font-size: 25px;
    }
  }

  &__txt {
    letter-spacing: .08em;
    line-height: 1.5;
    text-align: center;

    @include pc {
      font-size: 20px;
    }

    @include sp {
      margin-top: 10px;
      font-size: 10px;
    }

    &--small {
      @include pc {
        font-size: 18px;
      }

      @include sp {
        font-size: 11px;
      }
    }
  }

  &__cap {
    position: absolute;
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 1;
    color: #ffffff;

    @include pc {
      bottom: 8px;
      right: 8px;
    }

    @include sp {
      top: 5px;
      right: 5px;
    }
  }

  .stateIcon {
    position: absolute;

    @include pc {
      right: 48px;
      top: 50%;
      transform: translate(0,-50%);
    }

    @include sp {
      bottom: 10px;
      right: 10px;
    }

    &__txt {
      left: 50%;
      letter-spacing: .08em;
      line-height: .7;
      position: absolute;
      text-align: center;
      top: 0;
      transform: translate(-50%,0);
      white-space: nowrap;
      width: 100%;

      @include pc {
        font-size: 18px;
      }

      @include sp {
        font-size: 10px;
      }
    }

    &__circle {
      align-items: center;
      background-color: rgba(255, 255, 255, .8);
      border-radius: 50%;
      box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .1);
      display: flex;
      justify-content: center;

      @include pc {
        height: 56px;
        width: 56px;
      }

      @include sp {
        height: 36px;
        width: 36px;
      }

      .arrowSVG {
        @include pc {
          width: 18px;
        }

        @include sp {
          width: 15px;
        }
      }
    }
  }
}
