.equipmentSect {

  &__ttl {
    color: #248068;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 56px;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid #248068;

    @include sp {
      font-size: 20px;
    }
  }

  &__head {
    background-color: #2f4f47;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);

    @include pc {
      padding: 20px;
      width: 100%;
    }

    @include sp {
      padding: 10px;
      width: 100%;
    }

    & + .areaSect__cont {
      @include pc {
        margin-top: 40px;
      }

      @include sp {
        margin-top: 30px;
      }
    }

  }

  &__catch {
    margin: 0 auto;

    @include pc {
      text-align: center;
    }

    & + .equipmentCardGroup {
      @include pc {
        margin-top: 40px;
      }

      @include sp {
        margin-top: 30px;
      }
    }
  }

  &__heading {
    color: #ffffff;
    letter-spacing: .1em;

    @include pc {
      font-size: 22px;
      text-align: center;

      @include lhCrop(32 / 24);
    }

    @include sp {
      font-size: 16px;

      @include lhCrop(44 / 28);
    }
  }

  &__cont {

    @include pc {
      margin-top: 40px;
    }

    @include sp {
      margin-top: 28px;
    }

    .txt {
      letter-spacing: 0;
      text-align: center;
    }

    &--large {
      @include pc {
        margin-top: 64px;
      }

      @include sp {
        margin-top: 28px;
      }
    }
  }

  & + .equipmentSect {
    @include pc {
      margin-top: 80px;
    }

    @include sp {
      margin-top: 60px;
    }
  }

}
