
* {
  animation: none !important;
  -webkit-print-color-adjust: exact;
}


html,
body,
.currentPage {
  width: 1084px;
}

.header,
.header-menuButton {
  position: absolute;
}

img {
  max-width: initial;
  width: 100%;
}

.fixBnr,
.only-sp {
  display: none;
}

.blurBg {
  height: 100%;
}

.bottomCV {
  margin-bottom: 0;
}


.mainVisual {
  width: calc(1344 / 1440 * 100%);


  &__head {
    width: calc(312 / 1440 * 100%);
  }

  &__heading {

    .ttlSVG {
      width: calc(195 / 312 * 100%);
    }
  }


  &__cont {
    width: calc(960 / 1440 * 100%);
  }
}

.uspCard {

  &__bgSquare {

    &:before {
      height: 100% !important;
      width: 100% !important;
    }
  }

}


.resultGallery {
  margin-right: 0;
  width: 624px;
}

.plan-list {

  .menu {

    .list {

      .item {
        height: 320px;
      }
    }
  }
}

.roomspaceSection {

  .changeArea {
    margin-top: 100px !important;

    &__cont {
      padding: 40px;
    }

    &__contHanrei {

      img {
        width: fit-content;
      }
    }
  }
}

.planDetail {

  .madori {

    img {
      width: fit-content;
    }
  }

  .hanreiList {

    &__item {
      height: 30px;
      padding: 0 20px !important;
      width: fit-content;

      .icon {

        &--storage {
          padding-left: 25px;

          &:before {
            height: 12px;
            width: 22px ;
          }
        }

        &--floor {
          padding-left: 25px;

          &:before {
            height: 12px;
            width: 22px;
          }
        }
      }
    }
  }
}

.bgLayer {

  &--pattern01 {

    &:before {
      width: 3000px !important;
    }
  }
}
