.bottomCV {
  //background-color: rgba(76,152,170,.1);

  @include pc {
    margin-bottom: -128px;
  }

  @include sp {
    margin-bottom: -160px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    @include pc {
      padding: 110px 0 120px;
      width: 1056px;
    }

    @include sp {
      padding: 60px 30px 170px;
    }

    .infoCV {
      @include pc {
        width: 504px;
      }

      @include sp {
        width: 100%;
      }

      &:nth-of-type(n+3) {
        @include pc {
          margin-top: 64px;
        }
      }

      &:not(:last-of-type) {
        @include sp {
          margin-bottom: 30px;
        }
      }
    }
  }
}
