
.contentsNav {
  display: flex;
  flex-wrap: wrap;

  @include pc {
    justify-content: flex-start;
  }

  @include sp {
    justify-content: space-between;
  }

  &__item {
    position: relative;

    @include pc {
      margin-right: 32px;
      width: 240px;
    }

    @include sp {
      width: 133px;
    }

    &:nth-of-type(n+3) {
      @include sp {
        margin-top: 28px;
      }
    }

  }

  &__link {
    display: block;
    font-family: $font-en;
    letter-spacing: .12em;
    line-height: .8;
    position: relative;

    &:after {
      background-color: rgba(102,102,102,.5);
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    @include pc {
      font-size: 18px;
      //height: 30px;
    }

    @include sp {
      font-size: 14px;
      //height: 21px;
    }

    @include hover {

      .arrowSVG {
        transform: translate(10px,0);
      }
    }

    .arrowSVG {
      position: absolute;
      right: 0;
      top: 5px;
      transition: .3s;
    }

    &.is-off {
      opacity: .5;
      pointer-events: none;

      .contentsNav__image {
        &:before {
          content: 'COMING SOON';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          white-space: nowrap;
          line-height: 1;
          color: #ffffff;

          @include pc {
            font-size: 16px;
          }

          @include sp {
            font-size: 12px;
          }
        }
      }
    }

    .contentsGuide &.is-off {
      opacity: 1;
    }
  }

  &__image {
    position: relative;

    & + .contentsNav__txt {
      @include pc {
        margin-top: 20px;
      }

      @include sp {
        margin-top: 15px;
      }
    }
  }

  &__txt {
    font-family: $font-en;
    letter-spacing: .12em;
    line-height: .8;
    position: relative;
    transition: .3s;

    @include pc {
      font-size: 18px;
      height: 30px;
    }

    @include sp {
      font-size: 13px;
      height: 21px;
    }


    .arrowSVG {
      position: absolute;
      right: 0;
      top: 5px;
      transition: .3s;
    }

    &--lowerCase {
    }
  }

  &--oneThird {
    @include pc {
      width: 784px;
    }

    .contentsNav__item {


      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(n+4) {
        @include pc {
          margin-top: 56px;
        }
      }
    }
  }

  &--oneFourth {
    @include pc {
      width: 1056px;
    }

    .contentsNav__item {


      &:nth-of-type(4n) {
        margin-right: 0;
      }

      &:nth-of-type(n+5) {
        @include pc {
          margin-top: 56px;
        }
      }
    }
  }

  & + .primaryNav {
    @include pc {
      margin-top: 64px;
    }

    @include sp {
      margin-top: 32px;
    }
  }

  .caption{
    @include pc {
      margin-top: 40px;
      white-space: nowrap;
    }

    @include sp {
      margin-top: 22px;
    }
  }
}

.main {
  .contentsNav {
    &__item {
      &:nth-of-type(3) {
        .contentsNav__image {
          &:after {
            content: '1';
          }
        }
      }

      &:nth-of-type(7) {
        .contentsNav__image {
          &:after {
            content: '2';
          }
        }
      }
    }

    &__link {
      &.is-off {
        .contentsNav__image {
          &:after {
            display: none;
          }
        }
      }
    }

    &__image {
      &:after {
        align-items: center;
        background-color: rgba($color: #000000, $alpha: .4);
        bottom: 0;
        color: rgba($color: #ffffff, $alpha: .8);
        content: ''counter(lowNum);
        display: flex;
        font-size: 10px;
        height: 20px;
        justify-content: center;
        letter-spacing: 0;
        line-height: 1;
        position: absolute;
        right: 0;
        text-align: center;
        width: 20px;
      }
    }
  }
}
