.fixBnrWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 auto;
  opacity: 0;
  position: sticky;
  transition: 1.5s;
  z-index: 3;

  @include pc {
    bottom: 30px;
    height: 200px;
    margin-bottom: 30px;
    right: 30px;
    width: 105px;
  }

  @include sp {
    align-items: flex-end;
    bottom: 20px;
    height: auto;
    margin: 0 20px 20px 0;
    row-gap: 10px;
    width: auto;
  }

  &.is-visible {
    opacity: 1;
  }
}

.fixBnr {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  transition: 1.5s;
  
  @include pc {
    height: 96px;
    width: 105px;
  }

  @include sp {
    font-size: 10px;
    height: 60px;
    width: 60px;
  }

  @include hover {

    .fixBnr {

      &__bg {
        opacity: .8;
      }

      &__txt {
        letter-spacing: .3em;
      }
    }
  }

  &__bg {
    backdrop-filter: blur(3px);
    background-color: $color-autumn-main-01;
    box-shadow: 0 4px 8px 0 rgba(102, 102, 102, .1);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: -1;
  }

  &__txt {
    color: #ffffff;
    letter-spacing: .12em;
    line-height: .8;
    transition: .3s;

    @include pc {
      font-size: 16px;
    }

    @include sp {
      font-size: 10px;
    }
  }

  &--visit {

    .fixBnr {

      &__bg {
        background-color: $color-cv-reserve;
      }
    }
  }

  &.is-visible {
    opacity: 1;
  }
}
