.mainVisual {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @include pc {
    height: 100vh;
  }

  @include sp {
    height: 100svh;
  }

  &__head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include pc {
    }

    @include sp {
    }
  }


  &__logo {
    @include pc {
      width: 88px;
    }

    @include sp {
      width: 40px;
    }

    & + .mainVisual__ttl {
      @include pc {
        margin-top: 15px;
      }

      @include sp {
        margin-top: 10px;
      }
    }
  }

  &__ttl {
    text-align: center;

    &--en {
      letter-spacing: .15em;

      .brand{
        line-height: 1;

        @include pc {
          font-size: 64px;
        }

        @include sp {
          font-size: 32px;
        }

      }

      .bukken {
        @include pc {
          font-size: 40px;
          margin-top: 5px;
        }

        @include sp {
          font-size: 20px;
          margin-top: 5px;

          @include lhCrop(50/40);
        }
      }
    }

    &--jp {
      align-items: center;
      color: #666666;
      display: flex;
      justify-content: space-between;
      letter-spacing: .02em;
      width: 100%;

      @include pc {
        margin-top: 20px;
      }

      @include sp {
        margin-top: 13px;
      }

      .bukken {
        @include pc {
          font-size: 24px;
          margin: 0 15px;
        }

        @include sp {
          font-size: 12px;
          margin: 0 5px;

          @include lhCrop(50/24);
        }
      }

      .tentative {
        color: rgba(102,102,102,.6);

        @include pc {
          font-size: 20px;
        }

        @include sp {
          font-size: 10px;
        }
      }

      &:before,
      &:after {
        background-color: #cccccc;
        content: '';
        flex-grow: 1;
        height: 1px;
        width: auto;
      }
    }
  }

  &__heading {
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .2);
    color: #666666;
    display: flex;
    justify-content: center;

    @include pc {
      font-size: 18px;
      height: 120px;
      margin-top: 50px;
      width: 120px;
    }

    @include sp {
      font-size: 12px;
      height: 80px;
      margin-top: 40px;
      width: 80px;
    }
  }
}
