.mainVisual {
  margin: 0 auto;
  //overflow: hidden;
  position: relative;

  @include pc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    //padding-bottom: 70px;
    padding-top: 150px;
    width: calc(1344 / 1440 * 100vw);
  }

  @include sp {
/*
    padding-bottom: 70px;
    padding-top: 100px;
*/
  }

  &__head {
    position: relative;

    @include pc {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      width: calc(238 / 1440 * 100vw);
      z-index: 3;
    }

    @include sp {
      display: none;
      padding: 0 20px;
      width: 100%;
      z-index: -1;
    }
  }

  &__heading {

    .ttlSVG {
      height: auto;
      margin: 0 auto;

      @include pc {
        width: calc(115 / 1440 * 100vw);
        max-width: 115px;
      }

      @include sp {
        text-align: center;
        width: 316px;
      }

      &.only-sp {
        @include sp {
          display: block;
        }
      }
    }

    @include pc {
      text-align: center;
    }

    .en {
      display: block;
      font-family: $font-en;
      letter-spacing: .08em;

      @include pc {
        font-size: calc(56 / 1440 * 100vw);
        line-height: calc(60 / 56);
      }

      @include sp {
        font-size: 34px;
        line-height: .7;
        text-align: left;
      }
    }

    .jp {
      letter-spacing: .08em;

      @include pc {
        display: block;
        font-size: calc(16 / 1440 * 100vw);
        line-height: (35 / 16);
        margin-top: 10px;
      }

      @include sp {
        align-items: center;
        display: flex;
        font-size: 14px;
        justify-content: start;
        line-height: 1;
        margin-top: 15px;
        text-align: right;

      }

      &:before {
        background-color: #b0b3b4;
        content: '';
        flex-grow: 1;
        height: 1px;
        margin-right: 7px;
        width: auto;
      }
    }
  }

  &__ttl {
    color: #4c98aa;
    font-family: $font-en;
    font-size: 40px;
    left: 100%;
    letter-spacing: 0;
    line-height: .7;
    opacity: .3;
    position: absolute;
    top: 20px;
    transform: rotate(90deg);
    transform-origin: left top;
    white-space: nowrap;
    z-index: -1;

    @include pc {
      display: none;
    }

  }

  &__cont {
    position: relative;

    @include pc {
      width: calc(1056 / 1440 * 100vw);
    }

    @include sp {
/*
      margin-top: 15px;
      padding: 0 10px;
*/
      position: relative;
    }

    .pic {
      display: block;
      width: 100%;

      &__image {
        width: 100%;
      }

    }
  }

  &__cap {
    bottom: 5px;
    position: absolute;

    @include pc {
      right: 5px;
    }

    @include sp {
      right: 25px;

    }
  }

  &__squareBG {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @include sp {
      display: none;
    }

    span {
      background-color: $color-autumn-sub-01;
      display: block;
      height: 100%;
      position: relative;
      width: 100%;
      z-index: 1;
    }

    &:before,
    &:after {
      background-color: rgba($color: $color-autumn-sub-01, $alpha: .2);
      content: '';
      height: 100%;
      opacity: .2;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: -3;
    }

    &:before {
      //transform: rotate(5deg);
    }

    &:after {
      //transform: rotate(-5deg);
    }
  }

  &.is-init {

    .mainVisual__head {
      opacity: 0;
      transform: translate(0,10%);
      transition: 2s;

    }

    .mainVisual__cont {
      opacity: 0;
      transition: 3.2s;
    }

    .mainVisual__heading {
      opacity: 0;
      transition: 2.8s;
    }

    .mainVisual__squareBG {

      &:before,
      &:after {
        opacity: 0;
        //transform: rotate(25deg) rotateX(15deg);
        transition: 2.8s;
      }
    }

    &.is-animate {

      .mainVisual__heading {
        opacity: 1;
      }

      .mainVisual__squareBG {

        &:before,
        &:after {
          opacity: 1;
        }

        &:before {
          top: 10px;
          bottom: -10px;
          left: 10px;
          right: -10px;
          //transform: rotate(5deg);
        }

        &:after {
          top: 20px;
          bottom: -20px;
          left: 20px;
          right: -20px;
          //transform: rotate(-5deg);
        }
      }

      .mainVisual__head {
        opacity: 1;
        transform: translate(0,0);
      }

      .mainVisual__cont {
        opacity: 1;
      }

    }
  }
}
