<div class="mainVisual">
  <div class="mainVisual__head">
    <img src="./imgs/logo-mainvisual.svg" alt="" class="mainVisual__logo" width="36" height="37">
    <div class="mainVisual__ttl mainVisual__ttl--en">
      <div class="brand">MioCastello</div>
      <div class="bukken">OKURAYAMA</div>
    </div>
    <div class="mainVisual__ttl mainVisual__ttl--jp"><span class="bukken">ミオカステーロ大倉山</span></div>
  </div>
  <h2 class="mainVisual__heading">新発表</h2>
  <a href="https://www.yamada-kensetsu.co.jp/mansion/form/entry/okurayama/" target="_blank" class="newsBox">
    <dl class="newsBox__detail">
      <dt class="newsBox__term">2023.08.07</dt>
      <dd class="newsBox__desc">エントリー受付開始<span class="new">new</span></dd>
    </dl>
    <div class="newsBox__icon">
      <svg class="arrowSVG" width="21.5px" height="12.5px" viewBox="0 0 21.5 12.5"><path fill-rule="evenodd" fill="rgba(70, 70, 70,.8)" d="M11.500,11.500 L11.500,10.500 L17.899,6.500 L0.500,6.500 L0.500,5.500 L17.899,5.500 L11.500,1.500 L11.500,0.499 L20.500,5.500 L20.500,6.500 L11.500,11.500 Z"/></svg>
    </div>
  </a>
</div>
