.stationFrame {
  position: relative;
  width: 100%;

  .pic {
    width: 100%;

    img {
      width: 100%;
    }
  }


  &__info {
    color: #ffffff;
    font-family: $font-en;
    font-weight: 700;
    height: 100%;
    line-height: .75;
    width: 100%;
    white-space: nowrap;
    text-align: center;
  }

  &__infoInner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__term {
    letter-spacing: .04em;
    white-space: nowrap;

    @include pc {
      font-size: 30px;
    }

    @include sp {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include pc {
      margin-top: 24px;
      font-size: 32px;
    }

    @include sp {
      margin-top: 10px;
      font-size: 16px;
      letter-spacing: .04em;
    }

    .num {
      @include pc {
        font-size: 100px;
      }

      @include sp {
        font-size: 32px;
      }
    }

    .min {
      margin-top: 10px;
    }

    .day {
      margin-top: 10px;
      font-family: $font-jp;
      font-size: 12px;
      letter-spacing: 0.05em;
    }
  }
}
