<div class="btnList">
  <%- include('../planBtn/_planBtn.ejs', {
      type: 'A',
      variation:'2ldk+WIC+<br class="only-sp">FC+SIC',
      roomLength:'55.60m2（16.81坪）',
      floor:'',
      directory: '',
      modifiers: ['small']
  }) %>
  <%- include('../planBtn/_planBtn.ejs', {
      type: 'B',
      variation:'2LDK+S+WIC+<br>FC+SIC',
      roomLength:'62.50m2<br class="only-sp">（18.90坪）',
      floor:'2〜9',
      directory: '',
      modifiers: ['small']
  }) %>
  <%- include('../planBtn/_planBtn.ejs', {
      type: 'B',
      variation:'3LDK+WIC+<br>FC+SIC',
      roomLength:'62.50m2<br class="only-sp">（18.90坪）',
      floor:'10',
      directory: '',
      modifiers: ['small']
  }) %>
  <%- include('../planBtn/_planBtn.ejs', {
    type: 'C',
    variation:'1LDK+FC+SIC',
    roomLength:'37.34m2（11.29坪）',
    floor:'',
    directory: '',
    modifiers: ['small']
}) %>
</div>