.planHead {
  font-family: $font-mix-serif;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;

  @include pc {
    font-size: 32px;
  }

  @include sp {
    font-size: 20px;
  }

  .block {
    display: block;
    @include pc {
      margin-top: 16px;
    }

    @include sp {
      margin-top: 8px;
    }
  }

  .num {
    color: $color-autumn-sub-01;
    @include pc {
      font-size: 42px;
    }

    @include sp {
      font-size: 24px;
    }
  }

  .kana {
    letter-spacing: 0;
  }

  sup {
    font-size: 10px;
  }

  .caption {
    display: inline;
  }

  & + .accessTrafficInfo,
  & + .roomInfo {
    @include pc {
      margin-top: 30px;
    }

    @include sp {
      margin-top: 25px;
    }
  }

  & + .moreBtn {
    @include pc {
      margin-top: 40px;
    }

    @include sp {
      margin-top: 30px;
    }
  }
}
