.counterKitchen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  @include sp {
    max-width: 480px;
    margin: 0 auto;
  }

  &__item {
    @include pc {
      width: 480px;
    }

    @include sp {
      width: 100%;
    }

    &:not(:last-of-type) {
      @include sp {
        margin-bottom: 30px;
      }
    }

    .txt {

      & + .photo {
        margin-top: 22px;
      }
    }

    &--center {
      @extend .counterKitchen__item;
      height: 100%;
      margin: auto 0;
    }

    &.photo > img {
      @include sp {
        width: 100%;
      }
    }
  }

  &__heading {
    @include pc {
      font-size: 24px;
      letter-spacing: .15em;
      line-height: 1;
      margin-bottom: 24px;

    }

    @include sp {
      font-size: 16px;
      letter-spacing: .05em;
      line-height: 1;
      margin-bottom: 30px;
      text-align: center;
    }

    &--position {
      margin: 0 auto 34px;
      text-align: center;
    }
  }

  &__detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include pc {
      margin-top: 20px;
    }

    @include sp {
      margin: 30px auto 0;
      max-width: 494px;
    }

    .equipmentCard {
      @include pc {
        width: 30.2%;
      }

      @include sp {
        width: calc(50% - 10px);

        &:nth-of-type(3n) {
          margin-top: 30px;
        }
      }
    }
  }

  .equipmentCard {

    .photo,
    .equipmentCard__cont {
      @include pc {
        width: 230px;
      }

      @include sp {
        width: 160px;
      }
    }

  }
}
