<div class="list">
  <a href="plan-d.html" class="item item--01">
    <div class="image">
      <img src="imgs/btn-d.gif" alt="Dtype" width="180" height="280">
    </div>
    <div class="text">
      <div class="name"><strong>D</strong>type</div>
      <div class="plan">
        <div class="primary"><strong>3</strong>LDK</div>
        <div class="secondary">+3WIC+FC+SIC</div>
      </div>
      <div class="size">
        <div class="primary"><span class="num"><strong>70</strong>.01</span>m&sup2;<span class="small">（約21.17坪）</span></div>
        <!--<div class="secondary">バルコニー面積：9.32m&sup2;<br>サービスバルコニー面積1.08m&sup2;</div>-->
      </div>
      <div class="detailButton">
        詳細はこちら
        <svg width="9px" height="9px" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="rgb(148, 175, 170)" d="M8.934,4.629 L0.647,8.679 L2.511,4.643 L0.647,0.578 L8.934,4.629 Z"/></svg>
      </div>
    </div>
  </a>
  <a href="plan-f.html" class="item item--02">
    <div class="image">
      <img src="imgs/btn-f.gif" alt="Ftype" width="180" height="280">
    </div>
    <div class="text">
      <div class="name"><strong>F</strong>type</div>
      <div class="plan">
        <div class="primary"><strong>3</strong>LDK</div>
        <div class="secondary">+3WIC+2FC+SIC</div>
      </div>
      <div class="size">
        <div class="primary"><span class="num"><strong>70</strong>.16</span>m&sup2;<span class="small">（約21.22坪）</span></div>
        <!--<div class="secondary">バルコニー面積：9.70m&sup2;</div>-->
      </div>
      <div class="detailButton">
        詳細はこちら
        <svg width="9px" height="9px" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="rgb(148, 175, 170)" d="M8.934,4.629 L0.647,8.679 L2.511,4.643 L0.647,0.578 L8.934,4.629 Z"/></svg>
      </div>
    </div>
  </a>
  <a href="plan-g.html" class="item item--03">
    <div class="image">
      <img src="imgs/btn-g.gif" alt="Gtype" width="180" height="280">
    </div>
    <div class="text">
      <div class="name"><strong>G</strong>type<span class="sub">（2・3階）</span></div>
      <div class="plan">
        <div class="primary"><strong>2</strong>LDK</div>
        <div class="secondary">+WIC+SIC</div>
      </div>
      <div class="size">
        <div class="primary"><span class="num"><strong>55</strong>.01</span>m&sup2;<span class="small">（約16.64坪）</span></div>
        <!--<div class="secondary">バルコニー面積：21.04m&sup2;</div>-->
      </div>
      <div class="detailButton">
        詳細はこちら
        <svg width="9px" height="9px" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="rgb(148, 175, 170)" d="M8.934,4.629 L0.647,8.679 L2.511,4.643 L0.647,0.578 L8.934,4.629 Z"/></svg>
      </div>
    </div>
  </a>
  <a href="plan-mr.html" class="item item--04">
    <div class="image">
      <img src="imgs/btn-mr.gif" alt="Mrtype" width="180" height="280">
    </div>
    <div class="text">
      <div class="name"><strong>Mr</strong>type</div>
      <div class="plan">
        <div class="primary"><strong>4</strong>LDK</div>
        <div class="secondary">+3WIC+SIC</div>
      </div>
      <div class="size">
        <div class="primary"><span class="num"><strong>78</strong>.60</span>m&sup2;<span class="small">（約23.77坪）</span></div>
        <!--<div class="secondary">バルコニー面積：10.27m&sup2;<br>ルーフバルコニー面積31.06m&sup2;</div>-->
      </div>
      <div class="detailButton">
        詳細はこちら
        <svg width="9px" height="9px" viewBox="0 0 9 9"><path fill-rule="evenodd" fill="rgb(148, 175, 170)" d="M8.934,4.629 L0.647,8.679 L2.511,4.643 L0.647,0.578 L8.934,4.629 Z"/></svg>
      </div>
    </div>
  </a>
</div>
