.uspCard {
  color: #474747;
  position: relative;

  @include pc {
    padding-bottom: 40px;

  }

  &:nth-child(odd) {

    .uspCard__heading {
      color: rgba($color: $color-autumn-sub-01, $alpha: 1);
    }

    .uspCard__bgSquare {

      &:before {
        background: url(../imgs/bg-pattern-01.jpg) no-repeat center center / cover;
        opacity: .2;
      }
    }

    .moreBtn {
      background: rgba($color: $color-autumn-sub-01, $alpha: .8);
    }
  }

  &:nth-child(even) {

    .uspCard__heading {
      color: rgba($color: $color-autumn-main-01, $alpha: 1);
      text-shadow: 0 0 30px #ffffff;
    }

    .uspCard__bgSquare {

      &:before {
        background: url(../imgs/bg-pattern-02.jpg) no-repeat center center / cover;
        opacity: .2;
      }
    }

    .photo {

      &__capIn {
        left: 5px;
        right: auto;
      }
    }

    .moreBtn {
      background: rgba($color: $color-autumn-main-01, $alpha: .8);
    }

    &.sai-init {

      &.sai-animate {

        .uspCard__bgSquare:before {
          transform: rotate(-5deg) rotateX(0deg);
        }
      }
    }
  }

  &__visual {
    @include pc {
      position: relative;
      width: 720px;
    }

    .photo {

      &--capTop {

        .capIn {
          @include pc {
            bottom: auto;
            top: 5px;
          }
        }
      }

      &--spCapShadowDark {

        .capIn {
          @include sp {
            filter: drop-shadow(0 0 2px rgba(0, 0, 0, .7)) drop-shadow(1px -1px 2px rgba(0, 0, 0, .7) );
          }
        }
      }
    }
  }

  &__cont {
    background-size: cover;
    box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .1);
    z-index: 2;

    @include pc {
      bottom: 0;
      padding: 50px;
      position: absolute;
      right: 0;
      width: 503px;
    }

    @include sp {
      padding: 32px 20px;
    }

    &:after {
      background: url('../common/imgs/bg-pattern.jpg');
      content: '';
      height: 100%;
      left: 0;
      opacity: .9;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .option {
      font-size: 10px;

      @include sp {
        font-size: 10px;
      }
    }

    .caption {
      text-align: right;
    }
  }

  &__heading {
    bottom: 100%;
    font-family: $font-en;
    font-weight: 400;
    line-height: .65;
    position: absolute;
    right: 0;

    @include pc {
      font-size: 64px;
    }

    @include sp {
      bottom: calc(100% - 1px);
      font-size: 40px;
    }
  }

  &__subheading {
    font-family: $font-mix-serif;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;

    @include pc {
      font-size: 32px;
    }

    @include sp {
      font-size: 20px;
    }

    .block {
      display: block;

      @include pc {
        margin-top: 16px;
      }

      @include sp {
        margin-top: 8px;
      }
    }

    .num {
      color: $color-autumn-sub-01;

      @include pc {
        font-size: 42px;
      }

      @include sp {
        font-size: 24px;
      }
    }

    .kana {
      letter-spacing: 0;
    }

    sup {
      font-size: 10px;
    }

    .caption {
      display: inline;
    }

    & + .accessTrafficInfo,
    & + .roomInfo {
      @include pc {
        margin-top: 30px;
      }

      @include sp {
        margin-top: 25px;
      }
    }

    & + .moreBtn {
      @include pc {
        margin-top: 40px;
      }

      @include sp {
        margin-top: 30px;
      }
    }
  }

  &__bgSquare {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9;

    &:before {
      background-color: #cccccc;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotate(5deg);
      width: 100%;
      z-index: -1;
    }
  }

  &__cursiveTxt {
    color: rgba(255, 255, 255, .6);
    font-family: $font-en-cursive;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(10px,10px) rotate(-10deg);
    z-index: 2;

    @include pc {
      font-size: 40px;
    }

    @include sp {
      font-size: 24px;
    }

    &[data-color='grey'] {
      color: rgba(70, 70, 70, .6);
    }
  }

  &.is-reverse {

    .uspCard {

      &__visual {
        @include pc {
          margin: 0 0 0 auto;
        }
      }

      &__cont {
        @include pc {
          left: 0;
          right: unset;
        }
      }

      &__heading {
        @include pc {
          left: 0;
          right: unset;
        }
      }

      &__cursiveTxt {
        @include pc {
          left: unset;
          right: 0;
          transform: rotate(10deg) translate(-10px,10px);
        }
      }
    }
  }

  & + .uspCard {
    @include pc {
      margin-top: 160px;
    }

    @include sp {
      margin-top: 100px;
    }
  }

  &.sai-init {
    opacity: 0;
    perspective: 300px;
    transform: translate(0,30%);
    transition: 3s;


    .uspCard__bgSquare:before {
      transform: rotate(25deg) rotateX(15deg);
      transform-origin: center;
      transition: 1s;
    }

    &.sai-animate {
      opacity: 1;
      transform: translate(0,0);

      .uspCard__bgSquare:before {
        transform: rotate(5deg) rotateX(0deg);
      }
    }
  }
  /*
  position: relative;
  z-index: 1;

  @include pc {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 96px;
  }

  @include sp {
    padding: 40px 20px 33px;

  }

  &:before {
    box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .1);
    content: '';
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;

    @include pc {
      background: url('../imgs/pc/bg-usp.jpg');
    }

    @include sp {
      background: url('../imgs/sp/bg-usp.jpg');
    }
  }

  &__bgSquare {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9;

    &:before {
      background-color: #cccccc;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotate(5deg);
      width: 100%;
      z-index: -1;
    }
  }

  &__heading {
    color: #94afaa;
    font-family: $font-en;
    letter-spacing: .08em;

    @include pc {
      font-size: 32px;
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
    }

    @include sp {
      font-size: 20px;

      @include lhCrop(2);
    }

    & + .uspCard__visual {
      @include sp {
        margin-top: 20px;
      }
    }
  }

  &__visual {
    @include pc {
      width: 408px;
    }

    & + .uspCard__cont {
      @include sp {
        margin-top: 30px;
      }
    }
  }

  &__cont {
    @include pc {
      width: 406px;

    }

    .option {
      font-size: 14px;

      @include sp {
        font-size: 10px;
      }
    }

    .caption {
      text-align: right;
    }
  }

  &__subheading {
    color: #464646;
    font-family: $font-mix-serif;
    letter-spacing: .02em;
    text-align: center;

    @include pc {
      font-size: 32px;

      @include lhCrop(50/32);
    }

    @include sp {
      font-size: 20px;

      @include lhCrop(50/40);
    }

    sup {
      vertical-align: top;

      @include pc {
        font-size: 12px;
      }

      @include sp {
        font-size: 10px;
      }
    }

    .num {
      color: #907e5e;

      @include pc {
        font-size: 38px;
      }

      @include sp {
        font-size: 22px;
      }
    }

    & + .trafficInfo,
    & + .roomInfo {
      @include pc {
        margin-top: 30px;
      }

      @include sp {
        margin-top: 25px;
      }
    }
  }

  &__lead {
    color: #464646;
    font-family: $font-mix-serif;
    letter-spacing: .02em;
    text-align: center;

    @include pc {
      font-size: 32px;
      margin-top: 30px;

      @include lhCrop(50/32);
    }

    @include sp {
      font-size: 20px;
      margin-top: 25px;

      @include lhCrop(50/40);
    }

    .num {
      color: #907e5e;

      @include pc {
        font-size: 38px;
      }

      @include sp {
        font-size: 22px;
      }
    }
  }

  &.only-pc {
    @include sp {
      display: none;
    }
  }

  &.only-sp {
    @include pc {
      display: none;
    }
  }

  &:nth-of-type(odd) {

    .uspCard__bgSquare:before {
      background-color: #e3eae9;
    }
  }

  &:nth-of-type(even) {

    .uspCard__bgSquare:before {
      background-color: #d9d6cf;
    }

    .uspCard__heading {
      color: #907e5e;
    }
  }

  &.is-reverse {
    flex-direction: row-reverse;
  }

  & + .uspCard,
  & + .uspCardWrap, {
    @include pc {
      margin-top: 156px;
    }

    @include sp {
      margin-top: 72px;
    }

  }

  & + .uspFeature {
    margin-top: 60px;
  }

  &.sai-init {
    opacity: 0;
    perspective: 300px;
    transform: translate(0,30%);
    transition: 3s;


    .uspCard__bgSquare:before {
      transform: rotate(25deg) rotateX(15deg);
      transform-origin: center;
      transition: 1s;
    }

    &.sai-animate {
      opacity: 1;
      transform: translate(0,0);

      .uspCard__bgSquare:before {
        transform: rotate(5deg) rotateX(0deg);
      }
    }
  }
}

.uspCardWrap {


  & + .uspCard,
  & + .uspCardWrap, {
    @include pc {
      margin-top: 156px;
    }

    @include sp {
      margin-top: 72px;
    }

  }
*/
}
