.shinyokohamaSect {
  @include pc {
    margin-top: 64px;
  }

  @include sp {
    margin-top: 48px;
  }

  &__head {
  }

  &__contFirst {
    @include pc {
      margin-top: 64px;
    }

    @include sp {
      margin-top: 48px;
    }

    .photo + .txt {
      letter-spacing: 0;
      margin-top: 16px;
    }
  }

  &__contBlock {
    @include pc {
      margin-top: 120px;
    }

    @include sp {
      margin-top: 64px;
    }

    .bgLayer {
      @include pc {
        padding: 120px 0;
      }

      @include sp {
        padding: 64px 0;
      }

    }
  }

  &__contFirstInner {
    @include pc {
      margin-top: 60px;
    }

    @include sp {
      background: #ffffff;
      box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
      margin-top: 60px;
      padding: 20px;
    }
  }

  &__contSecond {
    @include pc {
      margin-top: 120px;
    }

    @include sp {
      margin-top: 64px;
    }
  }

  &__contThird {
    @include pc {
      margin-top: 48px;
    }

    @include sp {
      margin-top: 36px;
    }

    .photo + .txt {
      letter-spacing: 0;
      margin-top: 16px;
    }
  }

  &__contFourth {
    @include pc {
      margin-top: 120px;
    }

    @include sp {
      margin-top: 64px;
    }

    .layoutSect--floorMap + .layoutSect--gapNarrow {
      @include sp {
        margin-top: 80px;
      }
    }
  }

  &__contFourthInner {
    @include sp {
      background: #ffffff;
      box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
      padding: 20px;
    }

    & + .layoutSect {
      @include pc {
        margin-top: 60px;
      }

      @include sp {
        margin-top: 80px;
      }
    }
  }
}
