<%include('/_utils');
const params = ejsUtils.defaultParamsMapper(locals, {
  place:'',
  txt:'',
  modifiers: []
});
const className = ejsUtils.mapModifiers('greenLabel', params.modifiers);
%>

    <div class="<%- className %>">
        <p class="txt">
            <%- params.place %>
        </p>
        <p class="txt">
            <%- params.txt %>
        </p>
      </div>

