.subVisual {
  position: relative;

  &__ttl {
    align-items: center;
    background-color: rgba(255,255,255,.9);
    bottom: 0;
    color: #94afaa;
    display: flex;
    font-family: $font-en;
    justify-content: center;
    left: 0;
    letter-spacing: .08em;
    line-height: .8;
    position: absolute;
    white-space: nowrap;
    width: 100%;
    z-index: 10;

    @include pc {
      font-size: 40px;
      height: 80px;
    }

    @include sp {
      font-size: 18px;
      height: 36px;
    }
  }

  & + .equipmentVisual,
  & + .equipmentSect {
    @include pc {
      margin-top: 100px;
    }

    @include sp {
      margin-top: 45px;
    }
  }

  .equipmentSect + & {
    @include pc {
      margin-top: 120px;
    }

    @include sp {
      margin-top: 60px;
    }
  }
}
