<div class="primaryNav">
  <a class="primaryNav__btn" href="<%= relativePath %>outline">
    <div class="primaryNav__icon">
      <svg class="outlineSVG" viewBox="0 0 28 36"><path d="m6.99,28.77h14.02v-1.54H6.99v1.54Zm0-8.23h14.02v-1.54H6.99v1.54Zm-4.22,15.46c-.77,0-1.42-.27-1.96-.81-.54-.54-.81-1.19-.81-1.96V2.77c0-.77.27-1.42.81-1.96.54-.54,1.19-.81,1.96-.81h16.7l8.53,8.53v24.7c0,.77-.27,1.42-.81,1.96-.54.54-1.19.81-1.96.81H2.77Zm15.93-26.78V1.54H2.77c-.31,0-.59.13-.85.38-.26.26-.38.54-.38.85v30.46c0,.31.13.59.38.85.26.26.54.38.85.38h22.46c.31,0,.59-.13.85-.38.26-.26.38-.54.38-.85V9.22s-7.76,0-7.76,0ZM1.54,1.54v7.68V1.54v32.92S1.54,1.54,1.54,1.54Z"/></svg>
    </div>
    <div class="primaryNav__ttl">物件概要</div>
  </a>
  <a class="primaryNav__btn" href="<%= relativePath %>map">
    <div class="primaryNav__icon">
      <svg class="mapSVG" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 38.23"><path d="m15,17.77c.76,0,1.41-.27,1.95-.82.54-.55.81-1.2.81-1.96s-.27-1.41-.82-1.95c-.55-.54-1.2-.81-1.96-.81-.76,0-1.41.27-1.95.82-.54.55-.81,1.2-.81,1.96,0,.76.27,1.41.82,1.95.55.54,1.2.81,1.96.81Zm0,18.36c4.33-3.78,7.66-7.53,9.98-11.26,2.32-3.73,3.48-6.89,3.48-9.46,0-4.05-1.29-7.38-3.88-9.97-2.59-2.59-5.78-3.89-9.58-3.89s-6.99,1.3-9.58,3.89c-2.59,2.59-3.88,5.92-3.88,9.97,0,2.58,1.17,5.73,3.52,9.46,2.35,3.73,5.66,7.49,9.94,11.26Zm0,2.1c-5.06-4.49-8.82-8.65-11.29-12.49-2.47-3.84-3.71-7.29-3.71-10.34C0,10.71,1.51,6.97,4.54,4.18,7.56,1.39,11.05,0,15,0s7.44,1.39,10.46,4.18c3.02,2.79,4.54,6.53,4.54,11.22,0,3.05-1.24,6.5-3.71,10.34-2.47,3.84-6.24,8-11.29,12.49Z"/></svg>
    </div>
    <div class="primaryNav__ttl">現地案内図</div>
  </a>
</div>
