.hospitalCard {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @include sp {
    flex-direction: row-reverse;
    width: 100%;
  }

  &__head,
  &__cont {
    @include pc {
      width: 456px;
    }
  }

  &__head {
    @include sp {
      width: 148px;
    }

    .photo,
    .photo__image {
      width: 100%;
    }
  }

  &__cont {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    @include pc {
      margin-left: 46px;
      width: 360px;
    }

    @include sp {
      margin: 0 auto;
      width: 148px;
    }

    .caption {
      width: 100%;

      @include pc {
        margin-top: 15px;
      }

      @include sp {
        margin-top: 5px;
      }
    }
  }

  &__ttl {
    @include pc {
      font-size: 16px;

      @include lhCrop(28 / 16);
    }

    @include sp {
      font-size: 12px;

      @include lhCrop(34 / 24);
    }
  }

  &__distance {
    color: #464646;
    line-height: 1;
    text-align: justify;

    @include pc {
      font-size: 14px;
      margin-left: 20px;
    }

    @include sp {
      font-size: 10px;
    }

    .num {
      color: #4c98aa;
      font-family: $font-en;
      line-height: .7;

      @include pc {
        font-size: 40px;
      }

      @include sp {
        font-size: 24px;
      }
    }

    small {
      color: rgba(70, 70, 70, .8);
      font-size: 10px;
    }
  }

  &__distance {
    color: rgba(70, 70, 70, .8);
    text-align: justify;

    @include pc {
      font-size: 14px;

      @include lhCrop(26 / 14);
    }

    @include sp {
      font-size: 10px;
      margin-top: 20px;

      @include lhCrop(38 / 20);
    }

    & + .txt {
      @include pc {
        margin-top: 30px;

      }
    }
  }

  & + .hospitalCard {
    margin-top: 40px;
  }

  & + .placeGroup {
    @include pc {
      margin-top: 40px;
    }

    @include sp {
      margin-top: 26px;
    }
  }

  &--pattern01 {
    @include sp {

      .txt {
        margin-bottom: 35px;
        margin-top: 0;
        order: 1;
      }

      .hospitalCard__head {
        order: 2;
      }

      .hospitalCard__cont {
        order: 3;
      }

    }
  }

  &--pattern02 {
    @include sp {
      display: block;
    }

    .hospitalCard__head,
    .hospitalCard__cont {
      @include sp {
        width: 100%;
      }
    }

    .hospitalCard__cont {
      @include sp {
        margin-top: 20px;
      }
    }

    .hospitalCard__ttl {
      @include sp {
        font-size: 16px;
      }
    }

    .hospitalCard__distance {
      @include sp {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }

  &--reverse {
    @include pc {
      flex-direction: row-reverse;
    }

    @include sp {
      flex-direction: row;
    }

    .hospitalCard__cont {
      @include sp {
        margin-left: auto;
        margin-right: 0;
      }

    }
  }
}
