.cvGuide {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__btn {
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(102, 102, 102, .1);
    display: flex;
    justify-content: center;
    letter-spacing: .12em;
    line-height: 1;
    position: relative;

    @include pc {
      font-size: 16px;
      height: 56px;
      width: 240px;
    }

    @include sp {
      font-size: 10px;
      height: 32px;
      width: 133px;
    }

    &:nth-of-type(n+3) {
      @include sp {
        margin-top: 10px;
      }
    }

    &--full {
      @include pc {
        width: 512px;
      }

      @include sp {
        width: 100%;
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);

    @include pc {
      left: 24px;
    }

    @include sp {
      left: 10px;
    }

    .outlineSVG {
      height: auto;

      @include pc {
        width: 16px;
      }

      @include sp {
        width: 11px;
      }
    }

    .mapSVG {
      height: auto;

      @include pc {
        width: 18px;
      }

      @include sp {
        width: 12px;
      }
    }

    .memberSVG {
      height: auto;

      @include pc {
        width: 26px;
      }

      @include sp {
        width: 16px;
      }
    }
  }
}
