<div class="flowModal js-flowModal">
  <div class="flowModal__bg js-flowModal-close"></div>
  <div class="flowModal__inner">
    <div class="flowModal__head">
      <div class="flowModal__close  js-flowModal-close"></div>
      <div class="flowModal__ttl">エントリー後のご案内の流れ</div>
    </div>
    <div class="flowModal__content js-flowModal-inner">
      <div class="stepFeature">
        <div class="stepDetail">
          <div class="stepDetail__order">
            <svg class="squareSVG" width="8px" height="8px" viewBox="0 0 8 8"><path fill-rule="evenodd"  fill="rgb(70, 70, 70)" d="M-0.000,-0.000 L8.000,-0.000 L8.000,8.000 L-0.000,8.000 L-0.000,-0.000 Z"/></svg>
            Step 01
          </div>
          <div class="stepDetail__ttl">物件エントリー</div>
          <p class="stepDetail__txt">エントリーいただいた方には、最新の物件情報やスケジュールをご案内いたします。</p>
          <a href="https://www.yamada-kensetsu.co.jp/mansion/form/entry/o-kurayama" class="flowCVBtn">
            エントリーはこちら
            <svg class="arrowSVG" width="21.5px" height="12.5px" viewBox="0 0 21.5 12.5"><path fill-rule="evenodd" opacity="0.8" fill="rgb(70, 70, 70)" d="M11.500,11.500 L11.500,10.500 L17.901,6.499 L0.500,6.499 L0.500,5.500 L17.901,5.500 L11.500,1.499 L11.500,0.500 L20.500,5.500 L20.500,6.499 L11.500,11.500 Z"/></svg>
          </a>
        </div>
        <div class="stepDetail">
          <div class="stepDetail__order">
            <svg class="squareSVG" width="8px" height="8px" viewBox="0 0 8 8"><path fill-rule="evenodd"  fill="rgb(70, 70, 70)" d="M-0.000,-0.000 L8.000,-0.000 L8.000,8.000 L-0.000,8.000 L-0.000,-0.000 Z"/></svg>
            Step 02
          </div>
          <div class="stepDetail__ttl">プロジェクト発表会</div>
          <p class="stepDetail__txt">詳細情報をご案内。<br>ご参加後、ご希望されるお客様はコンセプトルームへ優先的にご案内いたします。</p>
        </div>
        <div class="stepDetail">
          <div class="stepDetail__order">
            <svg class="squareSVG" width="8px" height="8px" viewBox="0 0 8 8"><path fill-rule="evenodd"  fill="rgb(70, 70, 70)" d="M-0.000,-0.000 L8.000,-0.000 L8.000,8.000 L-0.000,8.000 L-0.000,-0.000 Z"/></svg>
            Step 03
          </div>
          <div class="stepDetail__ttl">コンセプトルーム案内会</div>
          <p class="stepDetail__txt">コンセプトルームのご見学および物件詳細情報などをご案内いたします。</p>
        </div>
      </div>
    </div>
  </div>
</div>
