<% include('/_utils');

  const params = ejsUtils.defaultParamsMapper(locals, {
    pageId: '',
    modifiers: []
  });
%><div class="globalMenu">
  <div class="globalMenu__head">
    <div class="globalMenu__heading">9月上旬 公開予定</div>
  </div>
  <div class="globalMenu__cont">
    <div class="globalMenu__attention">coming soon</div>
    <%- include('/common/inc/contentsNav/_contentsNav.ejs', {
      pageId: params.pageId,
      modifiers: ['globalMenu']
    }) %>
    <%- include('/common/inc/primaryNav/_primaryNav.ejs') %>
    <%- include('/common/inc/menuCV/_menuCV.ejs') %>
  </div>
</div>
