.gasFeature {

  &__ttl {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    line-height: 1;
    position: relative;

    @include pc {
      font-size: 22px;
      padding-bottom: 20px;
    }

    @include sp {
      font-size: 12px;
      padding-bottom: 10px;
    }


    &:after {
      background-color: #6eacba;
      bottom: 0;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    & + .txt {
      margin-top: 15px;
    }

    & + .equipmentCardGroup  {
      margin-top: 22px;
    }
  }
}
