.gasFeature {

  &__ttl {
    align-items: center;
    display: flex;
    justify-content: center;
    line-height: 1;
    text-align: center;

    @include pc {
      font-size: 22px;
      padding-bottom: 20px;
    }

    @include sp {
      font-size: 12px;
      padding-bottom: 10px;
    }

    & + .txt {
      margin-top: 15px;
    }

    & + .equipmentCardGroup  {
      margin-top: 22px;
    }
  }

  &__CardGroup {
    display: flex;
  }
}
