.designKitchen {
  position: relative;

  &__item {
    gap: 48px;

    @include sp {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &:not(:last-of-type) {
      @include pc {
        margin-bottom: 46px;
      }

      @include sp {
        margin-bottom: 27px;
      }
    }

    .equipmentCard {
      @include pc {
        width: 304px;
      }

      @include sp {
        width: 50%;
      }
    }

    &--edge {
      @include pc {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
      }

    }

    &--core {
      @include pc {
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-50%,0);
      }

      .equipmentCard {

        & + .equipmentCard {
          @include pc {
            margin-top: 60px;
          }
        }
      }
    }
  }

  .equipmentSect__catch + & {
    @include pc {
      margin-top: 40px;
    }

    @include sp {
      margin-top: 30px;
    }
  }
}
